header {
    background: #aeaeae;
}
h1 {
	text-align:center;
    color: #ffffff;
	font-variant: all-petite-caps ;
    font-size: 300%;
}
a {
	color: #000000;
	text-align: center;
	background: #c9c9c9;
}
img {
	display:none;
}
section {
	background: #828282;
}

h2 {
	font-variant: all-petite-caps ;
    font-size: 250%;
	color: #1f228f;
}

p {
	text-align: justify;
}
